@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700&display=swap");
$primary: rgb(245, 245, 243);
$secondary: #050505;
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-family: "Varela", sans-serif;
  font-weight: 300;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: $secondary;
  color: $primary;
}
.projects--wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.projects--header {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  font-style: normal;
  padding: 1rem;
}
.slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.item {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 75rem;
}
.item--image img {
  width: 40rem;
  @media (max-width: 415px) {
    width: 90%;
  }
}
.item--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 2rem;
  width: 30rem;
}
.item--name {
  font-weight: 700;
}
.item--description {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 1.4rem;
}
.pagination {
  display: flex;
  display: row;
  list-style: none;
  justify-content: space-around;
  width: 40rem;
  list-style-type: none;
  padding: 1rem;
}
.dots {
  display: flex;
}
.dot {
  border: 0;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  background: $primary;
  cursor: pointer;
  font-size: 0;
  outline-style: dotted;
  outline: none;
  &:active {
    background-color: pink;
  }
}
